* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-color-light: #60a5fa;
  --brand-color-dark: #1d4ed8;
  --bg-color: #0f172a;
  --stroke-color: #1e293b;
  --text-color-primary: #f1f5f9;
  --text-color-secundary: #cbd5e1;

  --font-family: "Archivo", sans-serif;
  --h1: 800 24px/135% var(--font-family);
  --h2: 800 16px/140% var(--font-family);
  --h3: 800 14px/140% var(--font-family);
  --text-span: 600 14px/145% var(--font-family);
  --text: 400 16px/140% var(--font-family);
  --text-sm: 400 14px/160% var(--font-family);
}

body {
  font: var(--text);
  background-color: var(--bg-color);
  color: var(--text-color-primary);
}

h1,
h2,
h3 {
  font: inherit;
}

.container {
  max-width: 1280px !important;
  padding-inline: 2rem !important;
  margin-inline: auto !important;
}

/* header */

/* nav primary */
#primary {
  display: flex;
  justify-content: space-between;
  padding-block: 1.2rem;
}

#menu img,
#search img {
  cursor: pointer;
  margin-right: 0.5rem;
}

@media (max-width: 426px) {
  #menu span {
    display: none;
  }

  #search span {
    display: none;
  }
}

/* nav secundary */
#secundary {
  padding-block: 0.8rem;
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--stroke-color);
  border-inline: none;
}

#secundary a {
  text-decoration: none;
  color: var(--text-color-secundary);
}
#secundary a:hover {
  color: var(--brand-color-light);
}

@media (max-width: 769px) {
  .link-none-md {
    display: none;
  }
}

@media (max-width: 426px) {
  .link-none-sm {
    display: none;
  }
}

/* main */

/* section read */
#featured {
  margin-top: 2.5rem;
}

.img {
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}
